.item-row {
    display: flex;
    gap: 13px;
    align-items: center;
}

.item-row button {
    margin-left: auto;
}

.strike-through {
    text-decoration: line-through;
}

.noStrike {
    text-decoration: none;
}